USE [master]
GO
/****** Object:  Database [ShoeShop]    Script Date: 7/16/2023 11:33:52 PM ******/
CREATE DATABASE [ShoeShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShoeShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ShoeShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShoeShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ShoeShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShoeShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShoeShop]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 7/16/2023 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Image] [text] NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/16/2023 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Image] [text] NULL,
 CONSTRAINT [PK_Categorys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 7/16/2023 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Fullname] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Phone] [int] NULL,
	[Address] [varchar](50) NULL,
	[RoleId] [nchar](10) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 7/16/2023 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Price] [float] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/16/2023 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Order_date] [date] NULL,
	[Total] [float] NULL,
	[Notes] [varchar](50) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/16/2023 11:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NULL,
	[BrandId] [int] NULL,
	[Name] [varchar](50) NULL,
	[Image] [text] NULL,
	[Price] [float] NULL,
	[Stock] [int] NULL,
	[Created_date] [date] NULL,
	[Description] [text] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([BrandId], [Name], [Image]) VALUES (1, N'Adidas', N'https://i.pinimg.com/564x/19/0e/43/190e434dd8da20da009cf532dacdda55.jpg')
INSERT [dbo].[Brands] ([BrandId], [Name], [Image]) VALUES (2, N'Nike', N'https://i.pinimg.com/564x/be/a9/4c/bea94cd38b7caef4a8a279fd44858f9b.jpg')
INSERT [dbo].[Brands] ([BrandId], [Name], [Image]) VALUES (3, N'Ananas', N'https://i.pinimg.com/736x/58/70/4d/58704d4fdf480ce77309dd75725d354c.jpg')
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Image]) VALUES (1, N'Sports', N'https://i.pinimg.com/564x/79/c5/9b/79c59b1a66a361555293ed57182224dc.jpg')
INSERT [dbo].[Categories] ([Id], [Name], [Image]) VALUES (2, N'Tennis', N'https://i.pinimg.com/564x/f9/a9/23/f9a923a0b940a25eea577ee98322b20c.jpg')
INSERT [dbo].[Categories] ([Id], [Name], [Image]) VALUES (3, N'Basketball', N'https://i.pinimg.com/564x/ad/64/bf/ad64bfba5cbd00b2799b84a5029798a4.jpg')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Username], [Fullname], [Password], [Phone], [Address], [RoleId]) VALUES (1, N'abc', N'ABC', N'123', 987654321, N'Ha Noi', N'US        ')
INSERT [dbo].[Customers] ([Id], [Username], [Fullname], [Password], [Phone], [Address], [RoleId]) VALUES (2, N'admin', N'Admin', N'123', 1234567890, N'Ho Chi Minh', N'AD        ')
INSERT [dbo].[Customers] ([Id], [Username], [Fullname], [Password], [Phone], [Address], [RoleId]) VALUES (3, N'student1', N'Minh Hoang', N'123', 123, N'Ha Noi', N'US        ')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Price], [Quantity]) VALUES (1, 2, 2, 100, 1)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Price], [Quantity]) VALUES (2, 2, 7, 123, 1)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Price], [Quantity]) VALUES (3, 3, 5, 210, 1)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [UserId], [Order_date], [Total], [Notes]) VALUES (2, 1, CAST(N'2023-07-12' AS Date), 223, N'please carefully')
INSERT [dbo].[Orders] ([OrderId], [UserId], [Order_date], [Total], [Notes]) VALUES (3, 1, CAST(N'2023-07-12' AS Date), 610, N'please careful')
INSERT [dbo].[Orders] ([OrderId], [UserId], [Order_date], [Total], [Notes]) VALUES (4, 1, CAST(N'2023-07-16' AS Date), 100, N'please careful')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [CategoryId], [BrandId], [Name], [Image], [Price], [Stock], [Created_date], [Description]) VALUES (1, 6, 6, N'The wolf lady', N'https://product.hstatic.net/200000033444/product/2_4e77dc31f1ac478f85b839a374a40f75_master.jpg', 100, 96, CAST(N'2023-07-08' AS Date), N'Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.')
INSERT [dbo].[Products] ([Id], [CategoryId], [BrandId], [Name], [Image], [Price], [Stock], [Created_date], [Description]) VALUES (2, 1, 1, N'Adidas Samba', N'https://i.pinimg.com/564x/fe/76/73/fe76734e2ccc90877676501130f40ebd.jpg', 100, 98, CAST(N'2023-07-08' AS Date), N'Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.')
INSERT [dbo].[Products] ([Id], [CategoryId], [BrandId], [Name], [Image], [Price], [Stock], [Created_date], [Description]) VALUES (3, 1, 2, N'Brooks Men', N'https://m.media-amazon.com/images/I/81C6pdykxDL._AC_UY575_.jpg', 100, 100, CAST(N'2023-07-08' AS Date), N'Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
USE [master]
GO
